<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>The Coolest Store of all time</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>The Store</h1>
	<p>Ready to add Items to your Cart</p>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Enter Product Name: <input type="text" th:field="*{id}" /></p>
    	<p>or</p>
    	<p> </p>
        <p>Enter Product ID: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Add Item" /> <input type="reset" value="Ready to Pay" /></p>
    </form>
</body>
</html>