<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<style type="text/css">
	label {
		display:inline-block;
		width:200px;
	}
</style>

<head> 

    <title>The Coolest Store of all time</title>
    <style>
    	body {background-color: #f0f6f7; margin:20px;}
    </style>
    	
    	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>

<body>

	<div align = "center">
		<h1 style="background-color:#143d59;color:white;Font-family:impact">The Store</h1>
		<h3 style="Font-family:calibri"> Welcome to The Store! </h3>

    	<form action="#" th:action="@{/myPage}" th:object="${page}" method="request">
    	<p> Are you a member? Please enter phone number: </p>
    	<label>Ex. +1234567890</label>
    	<p><input type = "text" th:field="*{phoneNumber}" /></p>
    	<label> If not a member, then just continue</label>
    	<p></p>
    	
    </form>
    
    <a href="cart.html">
		<button>Continue</button>
	</a>
    
    </div>
    

</body>

</html>
