<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>The Coolest Store of all time</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>The Store</h1>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Receipt Section </p>
    	<p>Total: </p>
    	<p>Payment Option(cash, debit, credit)<input type = "text" th:field="*{id}" /></p>
        <p>Pin number (if credit/debit): <input type = "text" th:field="*{id}" /></p>
        <p>Insert cash (if cash)</p>
        <p><input type="reset" value="Pay" /></p>
        
    </form>
</body>
</html>