<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<style type="text/css">
	label {
		display: inline-block;
		width: 200px;
		margin: 5px;
		text-align: left;
</style>

<head> 
    <title>The Coolest Store of all time</title>
    
    <style>
    	body {background-color: #f0f6f7; margin:20px;}
    </style>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<center>
		<h1 style="background-color:#143d59;color:white;Font-family:impact">The Store</h1>
		<h3 style="Font-family:calibri">Your Shopping Cart</h3>
	
			
	    	<label>Enter Product Name:</label>
	    	
	    	<p>or</p>
	        <label>Enter Product ID: </label>
	        
	        
	        
	        <p><input type="submit" value="Add Item" /> </P>

	    </form>
	    
	    <a href="paymentSection.html">
	        	<button>Ready to Pay</button>
	        </a>
	    
	</center>
</body>
</html>
